# HCDT Framework

## Initialize the clinic

In [1]:
from hcdt import Clinic
import yaml

# Make a clinic instance
clinic = Clinic()

/opt/homebrew/anaconda3/envs/hcdt/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Load the EHR data to the clinic

In [2]:
try:
    # Load data configuration
    with open("configs/data_config.yaml", "r") as file:
        data_config = yaml.safe_load(file)
except FileNotFoundError as e: 
    print(f"Error: {e}")
    exit(1)

# Load data to the clinic
try:
    clinic.load_dataset(data_config)
except Exception as e:
    print(f"Error: {e}")
    exit(1)
print("Data loaded successfully to the clinic")

Data loaded successfully to the clinic

## Set the assistant model

Loading available models' configuration

In [3]:
try:
    # Load models configuration
    with open("configs/models_config.yaml", "r") as file:
        models_config = yaml.safe_load(file)
except FileNotFoundError as e: 
    print(f"Error: {e}")
    exit(1)
print("available models: ", list(models_config.keys()))

available models:  ['chatgpt', 'medllama3', 'medllama2']

Setting the clinic's assistant model

In [8]:
model_name = "chatgpt"
# Load model to the clinic
try:
    clinic.set_assistant_model(models_config[model_name])
except Exception as e:
    print(f"Error: {e}")
    exit(1)
print(f"Model {model_name} loaded successfully to the clinic")

Model chatgpt loaded successfully to the clinic

## Choose a Patient EHR

Choosing a random patient

In [5]:
from random import choice
# choosing a random patient
patient_ids = clinic.get_patient_ids()
patient_id = choice(patient_ids)
print(f"Patient id: {patient_id}")

Patient id: 8908602e-5f0c-4f1e-847f-75a0043eeba7

## Display the Patient EHR

Showing the patient EHR

In [6]:
from IPython.display import display
# Getting patient data
patient_demographics = clinic.get_patient_info(patient_id)
patient_conditions = clinic.get_patient_conditions(patient_id)
patient_encounters = clinic.get_patient_encounters(patient_id)
patient_medications = clinic.get_patient_medications(patient_id)
patient_observations = clinic.get_patient_observations(patient_id)
patient_allergies = clinic.get_patient_allergies(patient_id)
patient_careplans = clinic.get_patient_careplans(patient_id)
patient_immunizations = clinic.get_patient_immunizations(patient_id)
patient_procedures = clinic.get_patient_procedures(patient_id)
patient_devices = clinic.get_patient_devices(patient_id)
patient_imaging_studies = clinic.get_patient_imaging_studies(patient_id)

# Displaying patient data
print("Patient Demographics")
display(patient_demographics)
print("Patient Conditions") 
display(patient_conditions)
print("Patient Encounters")
display(patient_encounters)
print("Patient Medications")
display(patient_medications)
print("Patient Observations")
display(patient_observations)
print("Patient Allergies")
display(patient_allergies)
print("Patient Careplans")
display(patient_careplans)
print("Patient Immunizations")
display(patient_immunizations)
print("Patient Procedures")
display(patient_procedures)
print("Patient Devices")
display(patient_devices)
print("Patient Imaging Studies")
display(patient_imaging_studies)

Patient Demographics

id            8908602e-5f0c-4f1e-847f-75a0043eeba7
first_name                              Carlton317
last_name                           Breitenberg711
gender                                           M
age                                             45
dtype: object

Patient Conditions

        START        STOP                      DESCRIPTION
0  2001-07-18         NaN                         Diabetes
1  2001-07-18         NaN                Anemia (disorder)
2  2004-07-21         NaN  Hypertriglyceridemia (disorder)
3  2004-07-21         NaN  Metabolic syndrome X (disorder)
4  2017-02-16  2017-03-16          Whiplash injury to neck
5  2017-05-13  2017-05-27       Viral sinusitis (disorder)
6  2019-01-05  2019-01-26                Facial laceration
7  2019-01-13  2019-01-27      Acute bronchitis (disorder)
8  2020-03-20  2020-04-10       Viral sinusitis (disorder)

Patient Encounters

,START,STOP,DESCRIPTION,REASONDESCRIPTION
0,2001-07-19T00:01:14Z,2001-07-19T00:16:14Z,General examination of patient (procedure),NaN
1,2004-07-22T00:01:14Z,2004-07-22T00:31:14Z,General examination of patient (procedure),NaN
2,2009-08-09T00:01:14Z,2009-08-09T00:16:14Z,Encounter for symptom,Acute bronchitis (disorder)
3,2010-07-29T00:01:14Z,2010-07-29T00:31:14Z,General examination of patient (procedure),NaN
4,2013-08-01T00:01:14Z,2013-08-01T00:16:14Z,General examination of patient (procedure),NaN
5,2016-08-04T00:01:14Z,2016-08-04T00:31:14Z,General examination of patient (procedure),NaN
6,2017-02-17T00:01:14Z,2017-02-17T01:01:14Z,Emergency room admission (procedure),NaN
7,2017-05-14T00:01:14Z,2017-05-14T00:16:14Z,Encounter for symptom,Viral sinusitis (disorder)
8,2019-01-06T00:01:14Z,2019-01-06T01:19:14Z,Emergency room admission (procedure),NaN
9,2019-01-14T00:01:14Z,2019-01-14T00:29:14Z,Encounter for symptom,Acute bronchitis (disorder)
10,2019-05-23T00:01:14Z,2019-05-23T00:16:14Z,General examination of patient (procedure),NaN
11,2020-03-21T00:01:14Z,2020-03-21T00:16:14Z,Encounter for symptom,Viral sinusitis (disorder)

Patient Medications

,START,STOP,DESCRIPTION,REASONDESCRIPTION
0,2017-02-17T00:01:14Z,2017-03-17T00:01:14Z,Ibuprofen 200 MG Oral Tablet,NaN
1,2019-01-06T00:01:14Z,2019-01-27T00:01:14Z,Naproxen sodium 220 MG Oral Tablet,NaN
2,2019-01-14T00:01:14Z,2019-01-28T00:01:14Z,Acetaminophen 21.7 MG/ML / Dextromethorphan Hy...,Acute bronchitis (disorder)
3,2019-05-23T00:01:14Z,2019-05-23T00:01:14Z,24 HR Metformin hydrochloride 500 MG Extended ...,Diabetes
4,2019-05-23T00:01:14Z,NaN,24 HR Metformin hydrochloride 500 MG Extended ...,Diabetes

Patient Observations

,DATE,DESCRIPTION,VALUE,UNITS
0,2010-07-29T00:01:14Z,Body Height,178.6,cm
1,2010-07-29T00:01:14Z,Pain severity - 0-10 verbal numeric rating [Sc...,1.0,{score}
2,2010-07-29T00:01:14Z,Body Weight,91.3,kg
3,2010-07-29T00:01:14Z,Body Mass Index,28.6,kg/m2
4,2010-07-29T00:01:14Z,Diastolic Blood Pressure,76.0,mm[Hg]
...,...,...,...,...
143,2015-05-17T00:01:14Z,QOLS,1.0,{score}
144,2016-05-17T00:01:14Z,QOLS,1.0,{score}
145,2017-05-17T00:01:14Z,QOLS,1.0,{score}
146,2018-05-17T00:01:14Z,QOLS,0.9,{score}
147,2019-05-17T00:01:14Z,QOLS,1.0,{score}

Patient Allergies

Empty DataFrame
Columns: []
Index: []

Patient Careplans

,START,STOP,DESCRIPTION,REASONDESCRIPTION
0,2001-07-18,NaN,Diabetes self management plan,Diabetes
1,2009-08-08,2010-07-28,Respiratory therapy,Acute bronchitis (disorder)
2,2017-02-16,2017-03-16,Musculoskeletal care,Whiplash injury to neck
3,2019-01-05,2019-01-26,Wound care,Facial laceration
4,2019-01-13,2019-05-22,Respiratory therapy,Acute bronchitis (disorder)

Patient Immunizations

                   DATE                                        DESCRIPTION
0  2010-07-29T00:01:14Z  Influenza  seasonal  injectable  preservative ...
1  2010-07-29T00:01:14Z                       Td (adult) preservative free
2  2013-08-01T00:01:14Z  Influenza  seasonal  injectable  preservative ...
3  2016-08-04T00:01:14Z  Influenza  seasonal  injectable  preservative ...
4  2019-05-23T00:01:14Z  Influenza  seasonal  injectable  preservative ...
5  2019-05-23T00:01:14Z                                       Hep A  adult

Patient Procedures

,DATE,DESCRIPTION,REASONDESCRIPTION
0,2010-07-29T00:01:14Z,Medication Reconciliation (procedure),NaN
1,2016-08-04T00:01:14Z,Medication Reconciliation (procedure),NaN
2,2019-01-06T00:01:14Z,Suture open wound,Facial laceration
3,2019-01-14T00:01:14Z,Measurement of respiratory function (procedure),Acute bronchitis (disorder)

Patient Devices

Empty DataFrame
Columns: []
Index: []

Patient Imaging Studies

Empty DataFrame
Columns: []
Index: []

## Clinic Functionalities

Predict disease risk

In [9]:
print(clinic.predict_disease_risk(patient_id))

{'disease_risk': [{'disease': 'Cardiovascular disease', 'risk_probability': 0.7, 'reasoning': 'The patient has a history of Metabolic syndrome X, which often increases the risk of cardiovascular disease. Diabetes and high triglyceride levels (Hypertriglyceridemia) observed in the patient can further increase this risk.'}, {'disease': 'Chronic kidney disease', 'risk_probability': 0.6, 'reasoning': 'Long-term Diabetes can lead to kidney damage, increasing the risk of chronic kidney diseases. Anemia may also be an indication of chronic kidney diseases.'}, {'disease': 'Stroke', 'risk_probability': 0.5, 'reasoning': 'The combination of Diabetes, Metabolic syndrome X and Hypertriglyceridemia increases the risk of Stroke.'}, {'disease': 'Hyperglycemia', 'risk_probability': 0.6, 'reasoning': 'Use of Metformin medication to manage Diabetes indicates the risk of hyperglycemia.'}]}